{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": ["error", "double"],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}